/* 
    Document   : error404
    Created on : 09/07/2011, 12:25:21 AM
    Author     : jose
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

div#shell {
  display: block;
  position: relative;
  margin: 100px auto;
  width: 318px;
  height: 318px;
}
div#shell{
  z-index: 1;
}
img#plax-logo {
  position: absolute;
  top: 125px;
  left: 90px;
  z-index: 3;
}
img#plax-sphere-1 {
  position: absolute;
  z-index: 4;
  top: 189px;
  left: 191px;
}
img#plax-sphere-2 {
  position: absolute;
  z-index: 2;
  top: 49px;
  left: 53px;
}
img#plax-sphere-3 {
  position: absolute;
  top: 35px;
  left: 32px;
  z-index: 1;
}

