/* 
    Document   : login
    Created on : 20/03/2011, 06:54:17 AM
    Author     : jose
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

#login{
  width: 400px;
  margin: 0px auto;
  padding: 65px 0;
}

#login h1{
  color:#fff;
  font-size:16px;
  font-weight:bold;
  background-color:#405a6a;
  background:-moz-linear-gradient(center top,'#829AA8','#405A6A');
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#829aa8',endColorstr='#405a6a');
  background:-webkit-gradient(linear,left top,left bottom,from(#829aa8),to(#405a6a));
  background:-moz-linear-gradient(top,#829aa8,#405a6a);
  border:1px solid #677c89;border-bottom-color:#6b808d;
  border-radius:3px 3px 0 0;-moz-border-radius:3px 3px 0 0;
  -webkit-border-radius:3px 3px 0 0;text-shadow:0 -1px 0 rgba(0,0,0,0.7);
  margin:0;padding:8px 18px;
}

#login form input[type=submit]{
  display:inline-block;
  height:34px;
  padding:0;
  position:relative;
  top:1px;
  margin-left:10px;
  font-family:helvetica,arial,freesans,clean,sans-serif;
  font-weight:bold;font-size:12px;color:#333;
  text-shadow:1px 1px 0 #fff;
  white-space:nowrap;border:none;
  overflow:visible;background:#ddd;
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ffffff',endColorstr='#e1e1e1');
  background:-webkit-gradient(linear,0% 0,0% 100%,from(#fff),to(#e1e1e1));
  background:-moz-linear-gradient(-90deg,#fff,#e1e1e1);
  border-bottom:1px solid #ebebeb;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  -webkit-box-shadow:0 1px 4px rgba(0,0,0,0.3);
  -moz-box-shadow:0 1px 4px rgba(0,0,0,0.3);
  box-shadow:0 1px 4px rgba(0,0,0,0.3);
  cursor:pointer;
  margin-left:1px;
  padding:0 13px;
  -webkit-font-smoothing:subpixel-antialiased!important;
}

#login form input[type=submit]:hover{
  color:#fff;
  text-shadow:-1px -1px 0 rgba(0,0,0,0.3);
  border-bottom-color:#0770a0;
  background:#0770a0;
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#0ca6dd',endColorstr='#0770a0');
  background:-webkit-gradient(linear,0% 0,0% 100%,from(#0ca6dd),to(#0770a0));
  background:-moz-linear-gradient(-90deg,#0ca6dd,#0770a0);
}

#login .form_body{
  padding: 25px;
  background: whitesmoke;
}

#login ul.actions li.forgot_password a
{
  padding-left: 0px;
  background: none;
}

#login .form_row
{
  padding: 0;
  border-bottom: none;
  margin-bottom: 10px;
}

#login .form_row label
{
  float: none;
  font-size: 110%;
  width: 100%;
  color: #2F424E;
  text-shadow: 0 -1px 0 rgba(100, 100, 100, 0.1);
}

#login .form_row.remeber label
{
  float: left;
  width: auto;
  padding: 0 0 0 5px;
}

#login .form_row.remeber input
{
  float: left;
  width: auto;
}

#login .form_row .content
{
  padding-left: 0;
}

#login input[type = "text"], #login input[type = "password"]
{
  width: 336px;
  border: 1px solid #ddd;
  padding: 6px;
  font-size: 110%;
}

#login ul.error_list li
{
  padding-left: 4px;
  background-image: none;
  color: #111;
}

#login ul.actions{
  text-align: left;
}

#login ul.actions li
{
  margin: 0;
}